table, tr, td {
    border: 1px solid black
}

.entireThing {
    align-content: center;
    margin-left: 10%;
    width: 80%;
    border: 2px solid black;
}

.text {
    margin: 5%;
    max-width: 90%;
    overflow-x: scroll;
}